/*
Primary Color (White): #FFFFFF;
Secondary Color (Grey): #545252;
SN Blue: #014263;
OpenMined Black: #000000;
Trove Black: #0D0D0D;
Trove White: #FAFAFA;
Trove Pink: #F75570;
*/


header {
  background-color: #e1dfe0;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
  text-align: center;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); position: fixed;
}


* {
  box-sizing: border-box;
}


body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #545252;
}

main {
  padding-top: 133px;
}

#hero {
  background-color: #e1dfe0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 4em;
  font-weight: 500;
}

h2 {
  font-size: 2.8em;
  font-weight: 500;
}

h3 {
  font-size: 2.2em;
  font-weight: 500;
}
h4 {
  font-size: 1.25em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #545252;
  text-decoration: none; /* No underlining */
}
  a:visited   { 
  color: #c919dd; /* visited link */
  }

  a:hover {
    color: #545252;
    text-decoration: underline; /* Underlining when hovering over a link */
  }  
  
  a:focus {
    color: #cc6540;
    text-decoration: underline;
  }

  a:active { 
    color: #303999; /* selected link */
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #545252;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #545252; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
    .button:hover {
      opacity: 0.8; /* Reduces the opacity of the button to 80% */
      text-decoration: none;
    }

    .button:active {


    }
 .button.contact {
  background-color: transparent;
  color: #545252;
  text-transform: uppercase;
  border: 2px solid #545252;
}

.button.contact:hover {
  background-color: #545252;
  color: #545252;
}

.button.contact:active {
  background-color: #545252;
  color: #545252;
}



/* Layout styling */

.container {
  padding: 0 15px;
}


.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#my-story .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h4 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 250px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  width: 100%;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  color: #c919dd; /* visited link */
}

nav > ul > li > a:hover {
  color: #545252;
  text-decoration: underline; /* Underlining when hovering over a link */
}

nav > ul > li > a:active {
  color: #303999; /* selected link */
}