/*
Primary Color (White): #FFFFFF;
Secondary Color (Grey): #545252;
SN Blue: #014263;
OpenMined Black: #000000;
Trove Black: #0D0D0D;
Trove White: #FAFAFA;
Trove Pink: #F75570;
*/


header {
  background-color: #9cd7d7;
  padding: 0px;
  margin: 0px;
  text-align: center;
  box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.75); position: fixed;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #545252;
}

main {
  padding-top: 133px;
}

#hero {
  background-color: #ffffff;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 4em;
  font-weight: 500;
}

h2 {
  font-size: 2.8em;
  font-weight: 500;
}

h3 {
  font-size: 2.2em;
  font-weight: 500;
}

h4 {
  font-size: 1.25em;
  font-weight: 500;
}

img {
  width: 100%;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
}

img.logo {
  align-items: center;
  max-width: 150px;
}

footer img {
  max-width: 25px;
}


p {
text-align: center;
}


picture {

flex: auto;
height: auto;

}  

a {
  color: #545252;
  text-decoration: none; /* No underlining */
}

a:visited   { 
  color: #c919dd; /* visited link */
  }


a:hover {
    color: #545252;
    text-decoration: underline; /* Underlining when hovering over a link */
  }  
  
a:focus {
    color: #cc6540;
    text-decoration: underline;
  }

a:active { 
    color: #303999; /* selected link */
  }

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ffffff;
    color: #545252; /* needed to override the default link color - text colour */
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px; 
    border: 2px solid #545252; /* width of the border, type, color */
    transition: 0.2s opacity;
    transition-property: opacity;
  }

.button:hover {
  background-color: #545252;
  color: #ffffff;
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  }

.button:active {
  background-color: #545252;
  color: #ffffff; /* text colour */
}

 .button.contact {
  background-color: transparent;
  color: #545252; /* text colour */
  text-transform: uppercase;
  border: 2px solid #545252;
}

.button.contact:hover {
  background-color: #545252;
  color: #ffffff; /* text colour */
}

.button.contact:active {
  background-color: #ffffff;
  color: #545252; /* text colour */
}


/* Layout styling */

.container {
  padding: 10px;
  text-align: center;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#my-story .row { 
padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; 

}

#my-work .row { 
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; 
  }


#hero h4 {
  text-align: center; /* Centers text */
}


#hero span {
  display: block;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 100px;
}

nav > ul {
  list-style-type: none;
  padding: 20px;
}

nav > ul > li {
  display: inline;
  width: 100%;
  padding; 20px
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  color: #c919dd; /* visited link */
}

nav > ul > li > a:hover {
  color: #545252;
  text-decoration: underline; /* Underlining when hovering over a link */
}

nav > ul > li > a:active {
  color: #303999; /* selected link */
}

.contact {
  text-align: center;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .container {
    align-items: left;

  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
  font-size: 18px;
  
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }


}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}